@using PierresTreats.ViewModels

@model LoginViewModel


<div class="container">
  <h2><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/290df182eb8e26d1c1d2b24e2b866f06.png" alt="arcane-tv-series-font" border="0"></a></h2>
  <hr />
  <div id="table">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)<br>

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)<br>

        <br><input type="submit" value="Log in" class="btn btn-success" /><br>
    }
  </div>
  <table id="table">
    <tr>
      <td>@Html.ActionLink("Register", "Register", null, null, new {@class = "myCssClass"})</td>
      <td>@Html.ActionLink("Home", "Index", "Home", null, new {@class = "myCssClass"})</td>
    </tr>
  </table>
</div>