@using System.Security.Claims;
@using PierresTreats.Models;

<div class="container">
  <h1><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/42094ebf18b5069ee593ad09f5fefc33.png" alt="arcane-tv-series-font" border="0"></a></h1>
  <img id="centeredImage" src=img/treat.gif>
  <h1><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/bfda7ebc7402043720fe6e365cdca49e.png" alt="arcane-tv-series-font" border="0"></a></h1>
  <img id="centeredImage" src=img/cookie.gif>
     
     @if (User.Identity.IsAuthenticated)
      {
        <div id="tableOne">
          <h4><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/c2137562907295da4c9eb375378365f2.png" alt="arcane-tv-series-font" border="0"></a></h4>
            <ul>
            @foreach (Treat treat in @ViewBag.Treats)
            {
              <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId}, new {@class = "myCssClass"})</li>
            }
            </ul>
          </div>
          <div id="tableOne">
          <h4><strong><a href="https://fontmeme.com/arcane-tv-series-font/"><img src="https://fontmeme.com/permalink/220603/98bc1a204af16e3d032b2c63d5c84c25.png" alt="arcane-tv-series-font" border="0"></a></strong></h4>
            <ul>
            @foreach (Flavor flavor in @ViewBag.Flavors)
            {
              <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId }, new {@class = "myCssClass"})</li>
            }
            </ul>
          </div>   
          <table id="table">
            <tr>
              <td>@Html.ActionLink("See all Flavors", "Index", "Flavors", null, new {@class = "myCssClass"})</td> 
              <td>@Html.ActionLink("See all Treats", "Index", "Treats", null, new {@class = "myCssClass"})</td>
              <td>@Html.ActionLink("Account Info", "Index", "Account", null, new {@class = "myCssClass"})</td>
            </tr>
          </table>  
      }
      else
      {
        <table id="table">
          <tr>
            <td>@Html.ActionLink("See all Flavors", "Index", "Flavors", null, new {@class = "myCssClass"})</td> 
            <td>@Html.ActionLink("See all Treats", "Index", "Treats", null, new {@class = "myCssClass"})</td>
            <br><td>@Html.ActionLink("Create an account", "Index", "Account", null, new {@class = "myCssClass"})</td>
          </tr>
        </table> 
      } 
</div>